.body {
  width: 100%;
  height: auto;
  margin: 0;

  overflow-x: hidden;
}
.full {
  background: #f5f5f5;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.mainone {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: 1px solid rgba(13, 13, 13, 0.22);
  background: #fff;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
.onecity,
.twocity,
.thcity,
.facity,
.ffcity {
  align-items: center;
  padding-top: 15px;
}
.onecity img,
.twocity img,
.thcity img,
.facity img,
.ffcity img {
  width: 90%;
}
.onecity p,
.twocity p,
.thcity p,
.facity p,
.ffcity p {
  margin-top: 0px;
  text-align: center;
}
.all {
  border-radius: 4px;
  background: #0d0d0d;

  width: max-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.all p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}
.all p:hover {
  color: #eb6c6c;
}
.all img {
  width: 50%;
  align-items: center;
  padding-left: 16%;
}

@media screen and (max-width: 688px) {
  .onecity img,
  .twocity img,
  .thcity img,
  .facity img,
  .ffcity img {
    width: 70%;
    font-size: 15px;
  }
  @media screen and (max-width: 699px) {
    .ffcity {
      display: none;
    }
  }
  @media screen and (max-width: 558px) {
    .onecity p,
    .twocity p,
    .thcity p,
    .facity p,
    .ffcity p,
    .all p {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 358px) {
    .onecity p,
    .twocity p,
    .thcity p,
    .facity p,
    .ffcity p {
      font-size: 10px;
    }
    .onecity img,
    .twocity img,
    .thcity img,
    .facity img,
    .ffcity img {
      width: 80%;
    }
  }
  @media screen and (max-width: 578px) {
    .ffcity {
      display: none;
    }
    .mainone {
      width: 85%;
      margin-left: 5%;
    }
  }
  @media screen and (max-width: 470px) {
    .facity {
      display: none;
    }
  }
}
#i1,
#i2,
#i3,
#i4,
#i5 {
  display: none;
}

.container {
  position: relative;
  width: 100%;
  height: max-content;
  padding-bottom: 38%;
  margin-left: 10%;
  margin-right: 10%;
  user-select: none;
}

.container .slide_img {
  position: absolute;
  width: 80%;
  height: 100%;
}

.prev {
  width: 0%;
  height: inherit;
  position: absolute;
  top: 0;

  color: rgba(236, 226, 226, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0;
  width: 8%;

  height: inherit;
  position: absolute;
  top: 0;

  color: rgba(236, 226, 226, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}
.prev {
  left: 0;
}

label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: transform 0.3s ease;

  color: #ada7a7;
}

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#nav_slide .dots {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(219, 214, 214, 0.6);
  transition: 0.4s;
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(231, 132, 132, 0.9);
  transition: 0.25s;
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3,
#i4:checked ~ #nav_slide #dot4,
#i5:checked ~ #nav_slide #dot5 {
  background-color: rgba(255, 255, 255, 0.9);
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.mainthree {
  display: flex;
  width: 100%;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 20px;
  background: #ba2144;
}
.main3left {
  padding-left: 10%;
  width: 60%;
}
.main3right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.main3right img {
  width: 96%;
  object-fit: fill;

  height: 100%;
}
@media screen and (max-width: 700px) {
  .main3right img {
    width: 96%;
    object-fit: contain;

    height: 100%;
  }
}
@media screen and (max-width: 400px) {
  .main3right img {
    display: none;
  }
  .main3left {
    text-align: center;
    padding-left: 15%;
  }
}
.main3left h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
  padding-top: 50px;
  opacity: 0;
  left: -100px; /* Start position off the screen */
  animation: slide-in 4s forwards ease-in;
  animation-iteration-count: 1;
}
.main3left p {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 25px;
}
.sellnow {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  width: 23%;
  height: 50px;
}
.sellnow:hover {
  background-color: #e5baba;
  transition: 0.25s;
}
.sellnow p {
  color: #0d0d0d;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding-top: 16px;

  padding-left: 10%;
}
.sellnow img {
  padding-right: 10%;
}
@media screen and (max-width: 945px) {
  .container {
    padding-bottom: 47%;
  }
}
@media screen and (max-width: 887px) {
  .container {
    padding-bottom: 70%;
  }
  .sellnow {
    width: 40%;
  }
}
@media screen and (max-width: 771px) {
  .container {
    padding-bottom: 85%;
  }
}
@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 10%;
  }
  #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
@media screen and (max-width: 630px) {
  .container {
    padding-bottom: 95%;
  }
}
@media screen and (max-width: 548px) {
  .container {
    padding-bottom: 120%;
  }
}
@media screen and (max-width: 487px) {
  .container {
    padding-bottom: 200%;
  }
  .sellnow {
    width: 60%;
  }
}
@media screen and (max-width: 360px) {
  .container {
    padding-bottom: 250%;
  }
}
@media screen and (max-width: 332px) {
  .container {
    padding-bottom: 300%;
  }
}
@media screen and (max-width: 270px) {
  .container {
    padding-bottom: 400%;
  }
  .sellnow {
    width: 90%;
  }
}
@media screen and(min-width: 970px) {
  .me {
    display: none;
  }
}
.fourmain {
  display: flex;
  align-items: center;

  margin-left: 14%;
  justify-content: center;
  width: 80%;
  margin-top: 15px;
  flex-wrap: wrap;
}
.fourmain h1:hover {
  background-color: #0d0d0d;
  color: #fff;
  transition: 0.5s;
}
.fourmain h1 {
  color: #0d0d0d;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 150px;
  height: 30px;
  flex-shrink: 0;
  padding-top: 5px;
  padding-bottom: 7px;
  border-radius: 10px;
  border: 0.5px solid #c2c2c2;
  background: #fff;
  margin-right: 7px;
}
.ffmain {
  border: 1px solid rgba(138, 137, 206, 0.4);
  background: #f5f5f5;
  margin-left: 10%;
  margin-right: 10%;
}
.ffone,
.fftwo {
  padding-top: 25px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

@media only screen and (max-width: 430px) {
  .ffone,
  .fftwo {
    padding-left: 0px;
  }
}
.fftwo {
  padding-top: 0px;
  padding-bottom: 25px;
}
.ffone img,
.fftwo img {
  width: 14%;
  margin-right: 8px;
}
@media only screen and (max-width: 330px) {
  .ffone img,
  .fftwo img {
    margin-right: 4px;
  }
}
.fifthmain {
  border: 1px solid rgba(138, 137, 206, 0.4);
  background: #fff;
  margin-left: 10%;
  margin-right: 10%;
  flex-shrink: 0;
}
.heading h5 {
  color: #0d0d0d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 520;
  line-height: normal;
  padding-top: 0px;
  margin-top: 7px;
  margin-bottom: 5px;
  background: #fff;
  opacity: 0;
  left: -100px; /* Start position off the screen */
  animation: slide-in 4s forwards ease-in;
  animation-iteration-count: 1;
}
.eight {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slideshowing {
  height: auto;
  width: 500px;
  margin: 0 auto;
  display: flex;
  /* border: solid #e9e1ca;*/
}

.slidewrappering {
  /* Calculate the total width on the
    basis of number of slides */
  width: calc(500px * 7);

  /* Specify the animation with the
    duration and speed */
  animation: slidesing 35s linear infinite;
  display: flex;
  animation-fill-mode: both;
  animation-direction: normal;
}

.slideeing {
  float: left;
  height: 220px;
  width: 500px;
  text-align: center;
  padding: 30px;
}

.slideeing img {
  width: 200px;
}

.slideeing p {
  color: #000;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.34px;
}

@keyframes slidesing {
  10% {
    margin-left: 0px;
  }

  20% {
    margin-left: calc(-500px * 1);
  }

  40% {
    margin-left: calc(-500px * 2);
  }
  60% {
    margin-left: calc(-500px * 3);
  }
  80% {
    margin-left: calc(-500px * 4);
  }
  95% {
    margin-left: calc(-500px * 5);
  }
}
@media only screen and (max-width: 621px) {
  @keyframes slidesing {
    10% {
      margin-left: 0px;
    }

    20% {
      margin-left: calc(-400px * 1);
    }

    40% {
      margin-left: calc(-400px * 2);
    }
    60% {
      margin-left: calc(-400px * 3);
    }
    80% {
      margin-left: calc(-400px * 4);
    }
  }
  .slideeing {
    width: 400px;
  }
  .slidewrappering {
    /* Calculate the total width on the
    basis of number of slides */
    width: calc(400px * 5);
  }
  .slideshowing {
    width: 400px;
  }
}
.slidewrappering:hover {
  animation-play-state: paused;
}

.custom-slider {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.custom-slide-container {
  display: flex;
  width: 300%; /* Three slides in total */
}

.custom-slide-controls {
  margin-left: 47%;
  display: flex;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
  margin: 6px 5px;
  width: 15px;
  height: 18px;

  border-radius: 50%;
}
@media only screen and (max-width: 530px) {
  .custom-slide-controls {
    margin-left: 35%;
  }
}
/* Updated labels to match the custom names */

#custom-slide1:checked ~ .custom-slide-container {
  transform: translateX(0);
}

#custom-slide2:checked ~ .custom-slide-container {
  transform: translateX(-33.33%);
}

#custom-slide3:checked ~ .custom-slide-container {
  transform: translateX(-66.66%);
}
.card1 {
  border-radius: 16px;
  background: linear-gradient(90deg, #154295 0%, #366bc7 100%);
  width: 329px;
  height: 186px;
  flex-shrink: 0;
  box-shadow: 8px 5px 6px 5px rgba(21, 20, 20, 0.2);
}
.card2 {
  border-radius: 16px;
  background: linear-gradient(90deg, #2d536a 0%, #49bb8a 100%);
}
.card3 {
  border-radius: 16px;
  background: linear-gradient(90deg, #5f0d12 0%, #c2434a 100%);
}
.card1 h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 40px;
  background: rgba(13, 13, 13, 0.2);
  width: 73px;
  height: 40px;
  flex-shrink: 0;
  margin-bottom: 0px;
  margin-top: 15px;
  padding-top: 15px;
  text-align: center;
  margin-left: 30%;
}
.card1 p {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card1 h6 {
  color: #fff;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 2px;
}
.cardbottom h5 {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 73px;
  height: 27px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 0.5px solid #fff;
  margin-left: 30%;
  margin-bottom: 5px;
}
.card1:hover,
.card2:hover,
.card3:hover {
  box-shadow: 0 20px 20px rgba(64, 25, 25, 0.3);
  transform: scale(1.18);
  transition: ease-in 0.4s;
}
.sixthmain {
  width: 100%;
}
.sixthmain h3 {
  text-align: center;
  color: #0d0d0d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0;
  left: -100px; /* Start position off the screen */
  animation: slide-in 4s forwards ease-in;
  animation-iteration-count: 2;
}
.diff {
  color: #0d0d0d;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.rewards {
  display: flex;
  align-items: center;

  justify-content: center;
}

.rewards img {
  margin-left: 9px;
  margin-right: 9px;
}
@media only screen and (max-width: 711px) {
  .rewards {
    align-items: normal;
  }
}
@media only screen and (max-width: 711px) {
  .rewards img {
    width: 14%;
  }
}
.semain {
  border-radius: 20px;
  background: #ba2144;
  width: 80%;
  height: auto;
  flex-shrink: 0;
  margin-left: 10%;
  padding-bottom: 40px;
}
.semain h5 {
  color: #fff;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 10%;
  padding-top: 13px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 384px) {
  .semain h5 {
    font-size: 46px;
    padding-left: 7%;
  }
}
@media only screen and (max-width: 328px) {
  .semain h5 {
    font-size: 32px;
    padding-left: 5%;
  }
}

.semain p {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 10%;
}
.semainimg {
  padding-left: 10%;
}
.semainimg img {
  margin-right: 30px;
}
@media only screen and (max-width: 258px) {
  .semainimg {
    padding-left: 2%;
  }
}
.eight {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.slideshow {
  /*overflow: hidden;*/
  height: auto;
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* border: solid #e9e1ca;*/
}

@media only screen and (max-width: 521px) {
  .slideshow {
    width: 80%;
  }
  .slidee p {
    width: 300px;
  }
}
@media only screen and (max-width: 436px) {
  .slideshow {
    width: 80%;
    margin: 0px;
  }
  .slidee p {
    width: 200px;
    height: auto;
  }
  .slidee {
    width: 80%; /*350px*/
  }
  .slidewrapper {
    width: calc(80% * 5); /*350px*/
    animation-name: ss;
  }
}
@keyframes ss {
  5% {
    margin-left: 0px;
  }
  30% {
    margin-left: calc(-80% * 1);
  }

  50% {
    margin-left: calc(-80% * 2);
  }
  70% {
    margin-left: calc(-80% * 3);
  }
  90% {
    margin-left: calc(-80% * 4);
  }
  100% {
    margin-left: 0px;
  }
}

.slidewrapper {
  /* Calculate the total width on the
    basis of number of slides  500px niche*/
  width: calc(80% * 5.5);
  display: flex;
  justify-content: space-between;
  /* Specify the animation with the
    duration and speed */
  animation: slides 25s ease infinite;
  display: flex;
  padding-bottom: 50px;
  padding-top: 50px;
}
.slidewrapper:hover {
  animation-play-state: paused;
}
.slidee {
  float: left;
  height: 430px;
  /*width: 400px;*/
  margin-right: 30px;
  padding: 20px;
  padding-right: 24px;
}

.slidee:hover {
  box-shadow: 0 20px 20px rgba(64, 25, 25, 0.3);
  transform: scale(1.11);
  transition: ease-in 0.5s;
  animation-delay: 3s;
}
@keyframes slides {
  5% {
    margin-left: 0px;
  }

  30% {
    margin-left: calc(-80% * 1);
  }

  50% {
    margin-left: calc(-80% * 2);
  }
  70% {
    margin-left: calc(-80% * 3);
  }
  90% {
    margin-left: calc(-80% * 4);
  }
  100% {
    margin-left: 0px;
  }
}

.ourclient {
  width: 100%;
  text-align: center;
}
.ourclient h1 {
  color: #0d0d0d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0;
  left: -100px; /* Start position off the screen */
  animation: slide-in 4s forwards ease-in;
  animation-iteration-count: 2;
}
.manucon1 {
  display: flex;
}
.manu1 {
  border-radius: 30px;
  background: #fff;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: auto;
}
.manu1 img {
  padding-left: 15%;
  padding-top: 15px;
}
.manu1 p {
  color: #0d0d0d;
  width: 224px;
  font-family: Poppins;
  font-size: 11.4px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10%;
  padding-bottom: 5px;
  padding-top: 10px;
}
.manu1 h6 {
  color: #0d0d0d;
  width: 224px;
  font-family: Poppins;
  font-size: 11.4px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10%;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 6px;
  margin-bottom: 4px;
}
.manu1 h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.manubottom {
  display: flex;
  align-items: center;
}
.manubottom h4 {
  color: #0d0d0d;

  font-family: Poppins;
  font-size: 14.4px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.mo {
  color: #b3b3b3;
  margin-top: 1px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ninemain {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

  border-radius: 20px;
  border: 1px solid rgba(138, 137, 206, 0.4);
  background: #fff;
}
.ninemain h2 {
  color: #0d0d0d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0;
  left: -100px; /* Start position off the screen */
  animation: slide-in 4s forwards ease-in;
  animation-iteration-count: 1;
}
.ninemain p {
  color: #292929;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.nimg {
  text-align: center;
}
.nimg img {
  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.about {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #0d0d0d;
  width: 235px;
  height: 54px;
  flex-shrink: 0;
  margin-left: 40%;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 25px;
}
.about h6 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
.about img {
  width: 30px;
}
@media only screen and (max-width: 776px) {
  .about {
    margin-left: 25%;
  }
}
@media only screen and (max-width: 436px) {
  .about {
    width: 150px;
  }
}
.tenmain {
  width: 100%;
  text-align: center;
}
.tenmain h5 {
  color: #0d0d0d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 520;
  line-height: normal;
  margin-top: 14px;
  margin-bottom: 21px;

  position: relative;
  opacity: 0;
  left: -100px; /* Start position off the screen */
  animation: slide-in 4s forwards ease-in;
  animation-iteration-count: 2;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    left: -100px; /* Start position off the screen */
  }
  100% {
    opacity: 1;
    left: 0; /* Final position on the screen */
  }
}
.tenimg img {
  margin-right: 13px;
  padding-bottom: 25px;
}
.tenimg img:hover,
.ffone img:hover,
.fftwo img:hover {
  transform: scale(1.11);
  transition: ease-in 0.5s;
}
.elmain {
  width: 100%;
  border-top: 1px solid rgba(13, 13, 13, 0.1);
  background: #0d0d0d;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.social img {
  margin-left: 5px;
}
.link h3 {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.link p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5;
  margin: 30px;
}
.offer h3 {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.offer p {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5;
  text-transform: capitalize;
  margin: 30px;
}

.contact h5 {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 0px;
}
@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.contact p {
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-transform: capitalize;
}
.contact img {
  margin-right: 7px;
}
@media only screen and (max-width: 895px) {
  .contact h5,
  .offer h3,
  .link h3 {
    font-size: 20px;
  }
  .social {
    padding-left: 3%;
  }
}
@media only screen and (max-width: 633px) {
  .contact h5,
  .offer h3,
  .link h3 {
    font-size: 30px;
  }
  .elmain {
    flex-direction: column-reverse;
  }
  .contact h5 {
    padding-top: 20px;
    padding-bottom: 13px;
  }
  .contact p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 200px;
    font-size: 16px;
  }
  .offer p,
  .link p {
    font-weight: 700px;
    font-size: 18px;
  }
  .link p {
    margin-left: 10px;
  }
  .offer {
    padding-top: 20px;
  }
  .social {
    margin-top: 20px;
    padding-bottom: 30px;
  }
  .social img {
    margin-left: 10px;
  }
  .social p {
    font-size: 19px;
  }
}
@media only screen and (max-width: 437px) {
  .social {
    margin-left: 15%;
    margin-right: 15%;
  }
}
